*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 33px;
    text-align: center;
    color: tomato;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}